<h1>About Me</h1>
<p id="jon">My name is Jonathan Chang</p>
<p>I am learning Ruby on Rails, woo!</p>


<div id="tableBlock">
  <h3 id="listTitle">Things I like</h3>	
  <ol class="lists"> 
    <li>Games</li>
    <li>Rails</li>
    <li>Dogs</li>
    <li>Technology</li>
  </ol>